input[type=button],
input[type=submit],
input[type=reset],
button {
    background-color: #4CAF51;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    margin-left: 8%;
}

a {
    background-color: #4CAF50;
    border: crimson solid 1px;
    color: white;
    padding-left: 28%;
    margin-top: 8px;
    padding-top: 2px;
    padding-right: 28%;
    padding-bottom: 12px;
    text-decoration: none;
    margin-left: 8%;
}

label {
    color: green;
    display: inline-block;
    width: 130px;
    text-align: right;
    padding-right: 15px;
    font: 200 15px;
}

input,
select {
    width: 60%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.formwrapper {
    text-align: center;
}