<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

</head>
<style>

    </style>
<body>
    <header>
    <nav class="nav" style="margin-top: -10px;margin-left: -10px;margin-right: -10px;">

        <a class = "current" href="{{ url_for('home') }}">Home</a>
<!--        <a href="{{url_for('register')}}">Register</a>-->
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('partners')}}">Our Partners</a>
        <a href="{{url_for('contact')}}">Contact Us</a>

    </nav>
</header>

<main>
<br>
    <h2 class = "Homeh2">Project Gemini</h2>
            <h3 class = "Homeh3">Travel at it's Finest!</h3>

    <div class="row">
        <div class="column">
            <h2>Get Inspired!</h2>
          <img src="{{ url_for('static', filename='1.jpg')}}" width="100%" height="30%"  align="left"  style="margin-right
    : -200px;margin-top: 50px; margin-left: -3%;}" alt="Get Inspired!">
        </div>
        <div class="column">
            <h2>Travel with Confidence!</h2>
            <img src="{{ url_for('static', filename='2.jpg') }}"  width="127%" height="30%" align="top" style=" margin-right: 15px; margin-top: 50px; margin-left: -30px" alt="Travel with Confidence!">
        </div>
        <div class="column">
            <h2>Explore the world!</h2>
            <img src="{{ url_for('static', filename='3.jpg') }}" width="100%" height="30%" align="right" style="margin-left: -300px; margin-top: 50px;
margin-right: -15px;"alt="Explore the World!">
        </div>
      </div>

    <p class="desc1">With the Gemini App, you can explore the world knowing that your time and money won't be wasted on the how.

       Now you can focus on enjoying your time at a local restaurant or see the wonderful historical sites in the any destination you please!</p>

</main>
<footer style="margin-top: 100px;">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52095.28431900228!2d-80.77018292089842!3d35.3070929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1636490591739!5m2!1sen!2sus" width="300" height="235" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <p>Copyright &copy; 2021 Project Gemini</p>
</footer>
</body>
</html>