<!DOCTYPE html>
<html lang="en">
<!-- contact.html -->

<head>
    <meta charset="UTF-8">
    <title>Contact us </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    
</head>

<body>
<nav class="nav" style="margin-top: -10px;margin-left: -10px;margin-right: -10px;">

    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{url_for('login')}}">Login</a>
    <a href="{{url_for('partners')}}">Our Partners</a>
    <a class="current" href="{{url_for('contact')}}">Contact Us</a>
    


</nav>
<h1 class="title">Contact Us</h1>
{% block content %}
<div class="login" style="">
    <h1>Contact us</h1><!-- Just here i use "url_for" to call the function get_contact.
         This function return the html code of our contact page-->
    <form action="{{ url_for('contact') }}" method=post>
        <div class="form-field">
            <!-- name forms -->

            <div class="control">
                <input class="input is-medium " type="name" placeholder="name" autocomplete="name" required="">
              </div>
            
            <!-- email forms -->
            <div class="control">
                <input class="input is-medium " type="email" placeholder="hello@example.com" autocomplete="username" required="">
              </div>
                        <!-- Subject of your request -->
                        <div class="control">
                            <input class="input is-large "  type="Requesst" placeholder="Request"   required="" style="height:15em; font-size:12px;">
                          </div>
                        
            <!-- Submit button -->
            <p>
                <button  style="width:10em;" class="button  is-info     rounded" type="submit"   >Send Request</button>
            </p>
        </div>
    </form>
</div>
{% endblock %}
</body>

<footer class="Footer">
    <h3 class="title" style="color:orange">GitHub Repo</h3>
    <a href="https://github.com/MurtadhaM/ITSC-3155/tree/main/Final%20Project/Travel_App/Flask"><img
            src="https://miro.medium.com/max/719/0*kHdpA0lO-qQVbaXq.png" width="200px" height="100px" align="center"
            alt="footer"></a>

    <p style="color:orange">This is a WIP and does not entirely portray any opinions. That is to be said, <b>do not take our advice.</b></p>
</footer>

</html>
