<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

</head>
<body>
    <nav class="nav">

        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{url_for('register')}}">Register</a>
        <a href="{{url_for('login')}}">Login</a>

    </nav>

        <h2 class = "Homeh2">Project Gemini</h2>
            <h3 class = "Homeh3">Travel at it's Finest!</h3>
        
        <img src="travel stock 1.jpg" alt="Get Inspired!">
        <img src="travel stock 2.jpg" alt="Travel with Confidence!">
        <img src="travel stock 3.jpg" alt="Explore the World!">

        <h2 class = "Travelh2">Get Inspired!</h2>
        <h2 class = "Travelh3">Travel with Confidence!</h2>
        <h2 class = "Travelh4">Explore the world!</h2>


</body>
</html>