<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>

<body >
    <nav class="nav" style="margin-top: -10px;">

        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{url_for('register')}}">Register</a>
        <a href="{{url_for('login')}}">Login</a>

    </nav>
    <div class="loginspecificpadding">
        <h1>Welcome {% if user %}{{user}}{% endif %} to Project Gemini!</h1>

        <h2>This site is the one stop for all your travel needs.</h2>
        <div class="formwrapper">
            <h2 class="title">Login</h2>
            <form method="POST" action="/login">
                <div class="form-field">{{ form.email.label }} {{ form.email }} {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }} {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
            <a href="{{ url_for('register') }}"> Register</a>
        </div>
    </div>
</body>

<footer>
    <p>This is a WIP and does not entirely portray any opinions. That is to be said, <b>do not take our advice.</b></p>
</footer>

</html>
<!--
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<div class="login">
  <h1>Login to Web App</h1>
       <form method="POST" action="/login">
                <div class="form-field">{{ form.email.label }} {{ form.email }} {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
    <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p class="remember_me">
      <label>
        <input type="checkbox" name="remember_me" id="remember_me">
        Remember me on this computer
      </label>
    </p>
    <p class="submit"><input type="submit" name="commit" value="Login"></p>
  </form>
</div>

<div class="login-help">
  <p>Forgot your password? <a href="{{ url_for('register') }}">Click here to reset it</a>.</p>
</div>-->
