<!DOCTYPE html>
<html lang="en">

<!-- profile.html -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Traveler Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<style>

.form-field{
    font-size: 2.2em;
}
.title{
    font-size: 2.2em;
}

img{
    margin:0;
    padding:0;
    width:250px;
    background: red;
    height: 300px;
    width: 250px;
    border-radius: 150px;
    margin: 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);

}
figure{
}
.login{
    width: 50%;
    text-align:center
}
</style>

<body>
<nav class="nav" style="margin-top: -10px;margin-left: -10px;margin-right: -10px;">
    <a href="{{ url_for('index') }}">Dashboard</a>
    <a class="current" href="/profile/userID">My Account</a>
    <a href="{{url_for('logout')}}">Logout</a>

</nav>
<h1 class="title" style="font-size:4.2em; text-align:center">Account Information</h1>
<div class="login">
    <div class="box">
        <figure class=" ">
            <img class="" src="https://data.whicdn.com/images/322027365/original.jpg?t=1541703413"  >
        </figure>
    <div  class="field">
        <div class="form-field" id="form-field"> <b>First Name:</b>  {{ user.first_name }}
        </div>
        </div>
        <div  class="field">
            <div class="form-field" id="form-field"> <b>Last Name:</b> {{ user.last_name }}
            </div>
            </div>
            <div  class="field">
                <div class="form-field" id="form-field"><b>Email:</b>  {{ user.email }}
                </div>
                </div>
                <div  class="field">
                    <div class="form-field" id="form-field"><b>Date Registered:</b>  {{ user.registered_on }}
                    </div>
                    </div>


        
        
    </div>
</div>
</body>

</html>