<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Traveler Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<style>


td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }
  th {
    background: lightblue;
    border-color: white;
  }
  
</style>
<body>
    <nav class="nav" style="margin-top: -10px;margin-left: -10px;margin-right: -10px;">
        <a href="{{ url_for('index') }}">Dashboard</a>
        <a class ="current" href="/profile/userID">My Account</a>
        <a href="{{url_for('logout')}}">Logout</a>

    </nav>
    <div class="body">
        <h1>Profile</h1>
        <table align="center">
            <tr>
                <th>First name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date Joined</th>
            </tr>
            {% if user %}
            <tr>
                <td>{{ user.first_name }}</a>
                </td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.registered_on }}</td>
            </tr>
        </table>
        {% endif %}
    </div>
</body>

</html>